**Baca Data**

In [ ]:
import pandas as pd

df = pd.read_csv('dataset_raw.csv')  # Ganti dengan nama file Anda

**Konversi Kolom Tanggal ke Datatime**

In [2]:
df['tanggal'] = pd.to_datetime(df['tanggal'])

**Tambahkan Kolom Hari**

In [3]:
df['hari'] = df['tanggal'].dt.dayofweek  # 0=Senin, ..., 5=Sabtu, 6=Minggu

**Filter Data Weekday Saja**

In [4]:
df_weekday = df[(df['hari'] < 5) & (df['harga'] > 0)]  # Hanya Senin-Jumat dan harga > 0

**Hapus Kolom Hari**

In [5]:
df_weekday['nama_hari'] = df_weekday['tanggal'].dt.day_name(locale='id_ID')  # Nama hari dalam Bahasa Indonesia

df_weekday = df_weekday.drop(columns=['hari'])

C:\Users\arthur_k\AppData\Local\Temp\ipykernel_12720\2953974970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weekday['nama_hari'] = df_weekday['tanggal'].dt.day_name(locale='id_ID')  # Nama hari dalam Bahasa Indonesia

**Simpan Data Baru**

In [ ]:
df_weekday.to_csv('dataset.csv', index=False)

In [7]:
df.head(10)

,variant_id,variant_nama,satuan_display,tanggal,harga,tanggal_pembanding,harga_pembanding,delta_harga,persen_perubahan,status_perubahan,tanggal_data,hari
0,52,Beras Medium,kg,2025-10-01,14400,2024-02-01,14033,367,2.615264,Naik,2025-10-01,2
1,51,Beras Premium,kg,2025-10-01,15550,2024-02-01,15000,550,3.666667,Naik,2025-10-01,2
2,14,Gula Pasir Curah,kg,2025-10-01,16000,2024-02-01,15000,1000,6.666667,Naik,2025-10-01,2
3,17,Minyak Goreng Sawit Kemasan Premium,lt,2025-10-01,20667,2024-02-01,22000,-1333,-6.059091,Turun,2025-10-01,2
4,16,Minyak Goreng Sawit Curah,lt,2025-10-01,17000,2024-02-01,14000,3000,21.428571,Naik,2025-10-01,2
5,18,Minyakita,lt,2025-10-01,17000,2024-02-01,14500,2500,17.241379,Naik,2025-10-01,2
6,19,Daging Sapi Paha Belakang,kg,2025-10-01,122000,2024-02-01,120000,2000,1.666667,Naik,2025-10-01,2
7,27,Daging Ayam Ras,kg,2025-10-01,39000,2024-02-01,32667,6333,19.386537,Naik,2025-10-01,2
8,25,Telur Ayam Ras,kg,2025-10-01,27500,2024-02-01,25250,2250,8.910891,Naik,2025-10-01,2
9,26,Tepung Terigu,kg,2025-10-01,13000,2024-02-01,12250,750,6.122449,Naik,2025-10-01,2

In [ ]:
# !jupyter nbconvert --to script data_cleaning.ipynb

[NbConvertApp] Converting notebook data_cleaning.ipynb to script
[NbConvertApp] Writing 899 bytes to data_cleaning.py